.button {
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;

  &--button-type {
    &-default {
      padding: 6px 10px;
      border: 3px solid #c0b2b5;
      border-radius: 10px;
      font-family: 'Times New Roman', Times, serif;
      font-size: 28px;
    }

    &-delete {
      padding: 6px 10px;
      border: 2px solid #c0b2b5;
      border-radius: 10px;
      font-family: 'Times New Roman', Times, serif;
      font-size: 20px;
    }

    &-switch {
      padding: 6px 10px;
      border: 3px solid #000;
      border-radius: 10px;
      font-family: 'Times New Roman', Times, serif;
      font-size: 28px;
    }
  }

  &--color {
    &-green {
      background-color: #013220;
      color: #fff;

      &:hover {
        background-color: #fff;
        color: #013220;
      }
    }

    &-white {
      background-color: #fff;
      color: #013220;

      &:hover {
        background-color: #013220;
        color: #fff;
      }
    }

    &-red {
      background-color: #a10115;
      color: #fff;
    }

    &-grey {
      background-color: #fff;
      color:#013220;
    }
  }

  &--size {
    &-s {
      padding: 6px 10px;
    }

    &-m {
      padding: 5px 25px;
    }

    &-lg {
      padding: 10px 50px;
    }
  }

  &--full-width {
    width: 100%;
  }

  &--theme {
    &-light {
      color: #000;
      background-color: #fff;
    }

    &-dark {
      color: #fff;
      background-color: #000;
    }
  }
}